.container{
    width: 800px;
    top: 100px;
    position: relative;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.impressum{
    width: 100%;
}

@media screen and (max-width: 768px){
    .container{
        width: 100%;
        font-size: 12px;
    }
    .impressum{
        max-width: 400px;
        margin: 0 20px;
    }
}