article{
    grid-column: 4 / 10;
}
article h1{
    column-span: all;
    margin: 0;
    padding: 0;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: .5pt;
    color: transparent;
    font-family: sans-serif;
    font-size: 32px;
}
article p{
    font-family: sans-serif;
    letter-spacing: .2px;
    line-height: 18px;
}

@media screen and (max-width: 1024px) {
    article{
        grid-column: 3 / 11;
        column-count: 1;
    }
}